<!--菜单区域-->
<ul class="nav nav-list">
    <li class="active">
        <a href="index.html">
            <i class="menu-icon fa fa-home"></i>
            <span class="menu-text">我的首页</span>
        </a>
    </li>
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">多级菜单</span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a href="typography.html">
                    <i class="menu-icon fa fa-caret-right"></i>
                    二级菜单
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-caret-right"></i>
                    三级菜单
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="top-menu.html">
                            <i class="menu-icon fa fa-caret-right"></i>
                            菜单一
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="two-menu-1.html">
                            <i class="menu-icon fa fa-caret-right"></i>
                            菜单二
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-caret-right"></i>
                    带图标的三级菜单
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="#">
                            <i class="menu-icon fa fa-leaf green"></i>
                            Item #1
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-pencil orange"></i>
                            四级菜单
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li class="">
                                <a href="#">
                                    <i class="menu-icon fa fa-plus purple"></i>
                                    Add Product
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="">
                                <a href="#">
                                    <i class="menu-icon fa fa-eye pink"></i>
                                    View Products
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>