<li class="green dropdown-modal">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
        <span class="badge badge-success">5</span>
    </a>
    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-envelope-o"></i>
            5封邮件
        </li>
        <li class="dropdown-content">
            <ul class="dropdown-menu dropdown-navbar">
                <li>
                    <a href="#" class="clearfix">
                        <img src="/templates/ace/images/avatars/avatar.png" class="msg-photo"
                             alt="Alex's Avatar"/>
                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">张元龙:</span>
                                                郝哥，一房有吗...
                                            </span>
                                            <span class="msg-time">
                                                <i class="ace-icon fa fa-clock-o"></i>
                                                <span>1分钟之前</span>
                                            </span>
                                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" class="clearfix">
                        <img src="/templates/ace/images/avatars/avatar5.png" class="msg-photo"
                             alt="Fred's Avatar"/>
                        <span class="msg-body">
                                            <span class="msg-title">
                                                <span class="blue">王全:</span>
                                                今天晚上来总部参加会议  ...
                                            </span>
                                            <span class="msg-time">
                                                <i class="ace-icon fa fa-clock-o"></i>
                                                <span>10:09</span>
                                            </span>
                                        </span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown-footer">
            <a href="inbox.html">
                查看更多邮件
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
</li>