<li class="purple dropdown-modal">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
        <span class="badge badge-important">8</span>
    </a>
    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-exclamation-triangle"></i>
            8条通知
        </li>
        <li class="dropdown-content">
            <ul class="dropdown-menu dropdown-navbar navbar-pink">
                <li>
                    <a href="#">
                        <div class="clearfix">
                                            <span class="pull-left">
                                                <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                                今日热推房源
                                            </span>
                            <span class="pull-right badge badge-info">+12</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="btn btn-xs btn-primary fa fa-user"></i>
                        余额不足...
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="clearfix">
                                            <span class="pull-left">
                                                <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                                宣城市关于公积金的补充规则
                                            </span>
                            <span class="pull-right badge badge-success">+1</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown-footer">
            <a href="#">
                查看更多通知
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
</li>