<!DOCTYPE html>
<html lang="en">
<head>
    <% include("_head.html"){} %>
</head>

<body class="no-skin">
<div id="navbar" class="navbar navbar-default ace-save-state">
    <% include("_header.html"){} %>
</div>

<div class="main-container ace-save-state" id="main-container">

    <div id="sidebar" class="sidebar responsive ace-save-state">
        <!--菜单区域-->
        <% include("_menu.html"){} %>

        <!--菜单收紧按钮-->
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <!--面包屑区域-->
            <% include("_breadPath.html"){} %>

            <!--内容区域-->
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!--首页通知信息-->
                        <div class="alert alert-block alert-success">
                            <button type="button" class="close" data-dismiss="alert">
                                <i class="ace-icon fa fa-times"></i>
                            </button>
                            系统通知：尊敬的XX先生，您的账户余额不足，将于2019年08月19日冻结，请及时充值。
                        </div>
                        <!--分割虚线-->
                        <div class="hr hr32 hr-dotted"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--脚部区域-->
    <% include("_footer.html"){} %>

</div>

<% include("_js.html"){} %>
<script type="text/javascript">
    jQuery(function ($) {

    })
</script>
</body>
</html>
