.left-menu .layui-nav-tree {
    margin-top: 60px;
}
.top-menu {
    height: 60px;
    background-color: #f1f1f1;
}
.top-menu .logo {
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #232b2b;
}
.top-menu .layui-col-md4 {
    height: 100%;
}
.top-menu .layui-nav {
    background-color: #f1f1f1;
}
.top-menu .layui-nav .layui-nav-item a {
    color: #20222a;
}
.top-menu .layui-nav-item {
    margin-left: 20px;
}
.top-menu .layui-nav .layui-nav-more{
    /*border-top-color: #20222a;*/
}